{% extends "qa/base.html" %}

{% block title %}
	Question {{ question.id }}
{% endblock %}

{% block content %}
    <div class="question_detail">
       <h1> {{ question }} </h1>
       <p> {{ question.text }} </p>
    </div>

<hr>

  <form method="post" action="{{ question.get_url }}">
        <fieldset>
		{% csrf_token %}
		{{ form.as_p }}
        </fieldset>
        <button type="submit">Ответить</button>
    </form>

<hr>

    {% for answer in answer_list %}
    <div class="answer">
        <h2> {{ answer.author }} - {{ answer.added_at}} </h2>
        <p> {{ answer.text }} </p>
    </div>
    {% endfor %}

{% endblock %}
